{:source-paths ["src"]
 :dependencies [[reagent "0.8.1"]
                [re-frame "0.10.6"]
                [binaryage/devtools "0.9.10"]
                [bidi "2.1.3"]
                [kibu/pushy "0.3.8"]
                [day8.re-frame/http-fx "0.1.6"]
                [cljs-ajax "0.8.0"]]

 :builds {:server {:main cashflow-server.core/start!
                   :target :node-script
                   :output-to "out/cashflow-server.js"
                   :devtools {:after-load cashflow-server.core/start!
                              :before-load cashflow-server.core/stop!}}
          :app {:modules {:main {:entries [cashflow-app.core]}}
                :target :browser
                :output-dir "public/js"
                :assest-path "/js"
                :devtools {:http-root "public"
                           :http-port 8020
                           :preloads [devtools.preload]}
                :release {:output-dir "dist/js"}}}}
